<?xml version="1.0"?>
<model>
  <name>diff_drive</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <description>
  Example differential drive vehicle model.
  </description>
</model>